dotenv_if_exists $PWD/private/.env-private
dotenv_if_exists $PWD/private/.env-aws

export SSH_AUTH_SOCK=


function yw_api(){

  export YW_SESSION_INFO=$(curl -sSL -H 'Accept: application/json' -H 'Content-Type: application/json;charset=UTF-8' -H "X-AUTH-YW-API-TOKEN: $YW_API_TOKEN" "$YW_API/session_info" -k)
  export YW_CUST_ID=$(echo $YW_SESSION_INFO | jq -r '.customerUUID')
  export YW_USER_ID=$(echo $YW_SESSION_INFO | jq -r '.userUUID')

  export YW_API_CUST=https://$YW_HOST/api/v1/customers/$YW_CUST_ID

  curl -k -sSL -H 'Accept: application/json' -H 'Content-Type: application/json;charset=UTF-8' -H "X-AUTH-YW-API-TOKEN: $YW_API_TOKEN" "$@"
}
export_function yw_api
