.idea/
/secured-rest-api/
/preferences/src/main/resources/static/**
.DS_Store
*.swp
.env-private
*.tfvars
*.tfstate
*.tfstate.bak
.terraform/
*.tfplan
*.tfstate.lock.info
.vscode/settings.json
docs/TradeX-UX-Screenshots.pdf
docs/Yugabyte - AWS Demo.pptx
