source_up

export mytfenv=yb-amrs-presales

export TF_CLI_ARGS_plan="    -state=$PWD/$mytfenv.tfstate -backup=$PWD/$mytfenv.tfstate.bak -state-out=$PWD/$mytfenv.tfstate -var-file=$PWD/$mytfenv.tfvars  -out $PWD/$mytfenv.tfplan "
export TF_CLI_ARGS_refresh=" -state=$PWD/$mytfenv.tfstate -backup=$PWD/$mytfenv.tfstate.bak -state-out=$PWD/$mytfenv.tfstate -var-file=$PWD/$mytfenv.tfvars "
export TF_CLI_ARGS_apply="   -state=$PWD/$mytfenv.tfstate -backup=$PWD/$mytfenv.tfstate.bak -state-out=$PWD/$mytfenv.tfstate $PWD/$mytfenv.tfplan"
export TF_CLI_ARGS_destroy=" -state=$PWD/$mytfenv.tfstate -backup=$PWD/$mytfenv.tfstate.bak -state-out=$PWD/$mytfenv.tfstate $PWD/$mytfenv.tfplan"
export TF_CLI_ARGS_output="  -state=$PWD/$mytfenv.tfstate "



