source_up

export mytfenv=yb-amrs-presales

export TF_CLI_ARGS_plan="     -var-file=$PWD/$mytfenv.tfvars  -out $PWD/$mytfenv.tfplan "
export TF_CLI_ARGS_refresh="  -var-file=$PWD/$mytfenv.tfvars "
export TF_CLI_ARGS_apply="    $PWD/$mytfenv.tfplan"
export TF_CLI_ARGS_destroy="  $PWD/$mytfenv.tfplan"
export TF_CLI_ARGS_console="  -var-file=$PWD/$mytfenv.tfvars"
export TF_CLI_ARGS_output="   "



